<app-navigation-user></app-navigation-user>
<div class="m-3">
<router-outlet></router-outlet>
</div>
<h2>Editar Producto</h2>
<!--<form>
    <div class="form-group">
        <label for="nameProducto">Nombre del Producto</label>
        <input name="name" type="text" class="form-control" id="nameProduct"
        placeholder="Ingrese el nombre del Producto" [(ngModel)]="product.name">
    </div>
    <div class="form-group">
        <label for="codeProduct">Codigo del Producto</label>
        <input name="code" type="text" class="form-control" id="codeProduct"
        placeholder="Ingrese el codigo del Producto" [(ngModel)]="product.code">
    </div>
    <div class="form-group">
        <label for="colorProduct">Color del Producto</label>
        <input name="color" type="text" class="form-control" id="colorProduct"
        placeholder="Ingrese el color del Producto" [(ngModel)]="product.color">
    </div>
    <div class="form-group">
        <label for="quantityProduct">Cantidad de Producto</label>
        <input name="quantity" type="number" class="form-control" id="quantityProduct"
        placeholder="Ingrese la cantidad de Producto" [(ngModel)]="product.quantity">
    </div>
    <button type="submit" class="btn btn-primary" (click)="editProduct()">Guardar</button>
    <button type="submit" class="btn btn-light" (click)="cancel()">Cancelar</button>
</form>-->