<app-navigation-user></app-navigation-user>
<div class="m-3">
<router-outlet></router-outlet>
</div>
<div class="container-fluid" style="padding-left: 25%;">
        <div class="col-lg-6" style="width: 70%;">
            <div class="card text-center">
                <div class="card-header">
                    <h1>Editar Información de Cliente</h1>
                </div>
                <div class="card-body" >
                    <form>
                        <div class="form-group">
                            <label for="nameClient">Nombre del Cliente</label>
                            <input name="name" type="text" class="form-control" id="nameClient"
                            placeholder="Ingrese el nombre del Cliente" [(ngModel)]="client.name">
                        </div>
                        <div class="form-group">
                            <label for="phoneClient">Numero de Telefono</label>
                            <input name="phone" type="text" class="form-control" id="phoneClient"
                            placeholder="Ingrese el numero telefonico del Cliente" [(ngModel)]="client.phoneNumber">
                        </div>
                        <div class="form-group">
                            <label for="emailClient">Correo</label>
                            <input name="email" type="email" class="form-control" id="emailClient"
                            placeholder="Ingrese el correo del Cliente" [(ngModel)]="client.email">
                        </div>
                        <div style="margin-top: 2%;">
                            <button type="submit" style="margin-right: 1%;" class="btn btn-success" (click)="editClient()">Guardar</button>
                            <button type="submit" class="btn btn-danger" (click)="cancel()">Cancelar</button>
                        </div>
                    </form>
                </div>
              </div>
        </div>
</div>
