<app-navigation-user></app-navigation-user>
<div class="m-3">
<router-outlet></router-outlet>
</div>
<div class="card">
  <div class="card-header text-center">
    <h1>Detalle de Orden de {{client.name}}</h1>
  </div>
  <div class="card-body">
      <button type="button" class="btn btn-info" (click)="back()">
        <i class="fas fa-arrow-alt-circle-left text-left">
        </i> Regresar</button>
        <button type="button" class="btn btn-secondary" style="margin-left: 1%;" (click)="changeStatus()">
          Marcar como {{text}}</button>
  <table class="table table-striped text-center">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Producto</th>
              <th scope="col">Color</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>
              <th scope="col">Logo</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let detail of details">
          <th scope="row">{{detail.id}}</th>
          <td>{{detail.inventory.product.name}}</td>
          <td>{{detail.inventory.color}}</td>
          <td>{{detail.quantity}}</td>
          <td>L. {{detail.price}}</td>
          <td><button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="fas fa-images"></i>
              {{detail.logo.name}}</button></td>
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                              <img src={{detail.logo.location}} class="img-responsive fit-image">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
                  </div>
                </div>
      </tbody>
  </table>
      </div>
</div>